body {
  margin: 0;
  padding: 0;
  font-family: 'Delius', cursive;
}

html,
body,
#root {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

.sketch-picker {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sketch-picker > div:nth-child(2) > div:nth-child(2) {
  display: none !important;
}

.sketch-picker > div:nth-child(3) > div:nth-child(1) > div > input {
  text-transform: lowercase;
}

.sketch-picker > div:nth-child(4) > div > span > div {
  border-radius: 0 !important;
}

.sketch-picker > div:nth-child(3) > div:nth-child(1) > div > span {
  width: 80%;
}

.sketch-picker > div:nth-child(3) > div:nth-child(2) > div > input,
.sketch-picker > div:nth-child(3) > div:nth-child(2) > div > span,
.sketch-picker > div:nth-child(3) > div:nth-child(3) > div > input,
.sketch-picker > div:nth-child(3) > div:nth-child(3) > div > span,
.sketch-picker > div:nth-child(3) > div:nth-child(4) > div > input,
.sketch-picker > div:nth-child(3) > div:nth-child(4) > div > span {
  margin-left: 20%;
}

.sketch-picker > div:nth-child(4) {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
